@font-face {
  font-family: "xetbookbold";
  src: url("~@/assets/fontsxetbook-bold-webfont.woff2") format("woff2"),
    url("~@/assets/fontsxetbook-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "xetbookmedium";
  src: url("~@/assets/fontsxetbook-medium-webfont.woff2") format("woff2"),
    url("~@/assets/fontsxetbook-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "xetbookregular";
  src: url("~@/assets/fontsxetbook-regular-webfont.woff2") format("woff2"),
    url("~@/assets/fontsxetbook-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  font-weight: 300;
  font-style: normal;
  src: url("~@/assets/fonts/avenir/avenir-book.woff") format("woff");
}

@font-face {
  font-family: "avenir";
  font-weight: 500;
  font-style: normal;
  src: url("~@/assets/fonts/avenir/avenir-medium.woff") format("woff");
}
@font-face {
  font-family: "avenir";
  font-weight: 600;
  font-weight: bold;
  font-style: normal;
  src: url("~@/assets/fonts/avenir/avenir-heavy.woff") format("woff");
}

@font-face {
  font-family: "mixcutoutsmedium";
  src: url("~@/assets/fontsmixcutouts-webfont.woff2") format("woff2"),
    url("~@/assets/fontsmixcutouts-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
