.hero__container-outer {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.hero__copy-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}