.hero__container-outer {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  @include bp(mobLandscape) {
    height: 200vh;
  }
  @include bp(1024) {
    flex-direction: row;
  }
}

.hero__copy-container {
  width: 100%;
  height: 60%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  @include bp(768) {
    padding: 3rem 12%;
  }
  @include bp(1024) {
    margin-top: 0;
    justify-content: center;
    //align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 10%;
  }
}
.hero__copy {
  h1,
  p {
    overflow: hidden;
  }
  span.word {
    opacity: 0;
    transform: translateY(2rem);
    animation: slide-up-text 0.5s ease-out forwards;
    animation-delay: calc(0.1s * var(--line-index));
    //@include stagger-children(animation, 30, 0.1, 0.05);
  }
}
@keyframes slide-up-text {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero__cta-btns {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  opacity: 0;
  transform: translateY(3rem);
  animation: slide-up-text 0.5s ease-out forwards;
  animation-delay: 500ms;
  @include bp(768) {
    margin-top: 3rem;
  }
  a {
    text-decoration: none;
    padding: 1rem;
    background: $appLightGreen;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 0.9rem;
    @include bp(768) {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
    &:last-child {
      margin-left: 1rem;
      @include bp(768) {
        margin-left: 2rem;
      }
    }
    &:hover {
      background-color: $appMidGreen;
    }
  }
}
.hero__contact-details,
.contact-details {
  @include bp(1280) {
    li {
      margin-top: 1.1rem;
      &:first-child {
        margin-top: 0;
      }
      font-size: 1.3rem;
    }
  }
}

.hero__image-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
  @include bp(1024) {
    width: 50%;
    height: 100%;
  }
}
