body,
html {
  margin: 0;
  padding: 0;
  font-family: "avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  overflow: hidden;
  @include bp(1024) {
    font-size: 16px;
  }
  @include bp(lrgLap) {
    font-size: 18px;
  }
  @include bp(hd) {
    font-size: 20px;
  }
}
* {
  box-sizing: border-box;
}
/* Global type styles */
h1 {
  font-family: "xetbookbold";
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  @include bp(768) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  @include bp(1280) {
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
  }
}
h2 {
  margin: 1rem 0;
  @include bp(768) {
    margin: 2rem 0 1rem 0;
  }
}
ul {
  margin-top: 0.5rem;
}
li {
  list-style: none;
  margin-top: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #5a6627;
}
#app {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  color: #6f7d13;
  color: #5a6627;
  line-height: 1.1;
  background-color: #f6f4ef;
  .logo__container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    @include bp(768) {
      padding-top: 2rem;
      padding-left: 0;
      justify-content: center;
    }
    .logo {
      position: relative;
      width: 25%;
      max-width: 140px;
      // height: 25%;

      @include bp(1280) {
        max-width: 180px;
        width: 180px;
        height: 180px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
