.order__container-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bp(1024) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .order__parallax {
    position: relative;
    top: 0;
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .order__bg-parallax {
      position: absolute;
      width: 100%;
      height: 130%;
      top: -55%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    @include bp(1024) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .order__info {
    position: relative;
    background-color: rgba($appPanelBg, 0.9);
    color: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    opacity: 0;
    transform: translateX(-50px);
    transition-delay: 0.5s;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out;
    @include bp(768) {
      width: 70%;
    }
    @include bp(1024) {
      padding: 6rem 4rem;
      width: 50%;
    }
    &.active {
      transform: translateX(0);
      opacity: 1;
    }
    p {
      font-size: 1.3rem;
    }
    ul {
      margin-top: 2rem;
    }
    li {
      margin-top: 1rem;
    }
    a {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 600;
      &:hover {
        color: $appLightGreen;
      }
    }
  }
}
