.products__container-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1.cutouts {
    font-size: 2rem;
    color: $appLightGreen;
    margin: 3rem 0;
    @include bp(768) {
      margin: 5rem 0;
    }
  }
  .product {
    position: relative;
    width: 90%;
    display: flex;
    background: #fff;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-top: 5rem;
    align-items: center;
    flex-direction: column;
    transform: translateY(30px);
    &.active {
      opacity: 1;
      .product__text {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 5rem;
    }
    @include bp(768) {
      width: 90%;
      flex-direction: row;
      justify-content: space-around;
      &.pull-left {
        &.active {
          .product__text {
            opacity: 1;
          }
        }
      }
    }
    @include bp(1024) {
      transform: translateY(0);
      width: 80%;
      justify-content: flex-start;
      &.pull-left {
        margin-right: auto;
        flex-flow: row-reverse;
        transform: translateX(-50px);
        &.active {
          transform: translateX(0);
        }
      }
      &.pull-right {
        margin-left: auto;
        transform: translateX(50px);
        &.active {
          transform: translateX(0);
        }
      }
    }
    .product__image {
      width: 100%;
      max-width: 100%;
      @include bp(768) {
        width: 60%;
        padding: 2rem 0 2rem 2rem;
      }
      @include bp(1024) {
        width: auto;
        padding: 0;
      }
      img {
        max-width: 100%;
        display: inline-block;
      }
    }
    .product__text {
      width: 100%;
      padding: 2rem;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s 0.3s ease, transform 0.8s 0.3s ease;
      @include bp(768) {
        transform: translateY(0);
      }
      @include bp(1024) {
        width: 30rem;
        padding: 0;
        &.pull-left {
          margin-right: 5rem;
        }
        &.pull-right {
          margin-left: 5rem;
        }
      }
      p {
        line-height: 1.5;
      }
    }
    .product__cta {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: bold;
      h2,
      a {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
        &:after {
          content: "";
          display: inline-block;
          width: 1.5rem;
          height: 100%;
          margin-left: 0.5rem;
          height: 1.2rem;
          background: url("~@/assets/images/cta_arrow@2x.png") no-repeat
            center/100%;
        }
      }
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
    p {
      line-height: 2;
      margin-bottom: 1.2rem;
    }
  }
}
