.products__container-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1.cutouts {
    font-size: 2rem;
    margin: 5rem 0;
    color: $appLightGreen;
  }
  .product {
    position: relative;
    width: 80%;
    display: flex;
    background: #fff;
    opacity: 0;
    transition: all 0.6s ease-out;
    margin-top: 5rem;
    align-items: center;

    &:first-of-type {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 5rem;
    }
    &.pull-left {
      margin-right: auto;
      flex-flow: row-reverse;
      transform: translateX(-50px);
      &.active {
        transform: translateX(0);
        opacity: 1;
        .product__text {
          opacity: 1;
        }
      }
    }
    &.pull-right {
      margin-left: auto;
      transform: translateX(50px);
      &.active {
        transform: translateX(0);
        opacity: 1;
        .product__text {
          opacity: 1;
        }
      }
    }
    .product__text {
      width: 30rem;
      opacity: 0;
      transition: opacity 0.8s 0.3s ease;
      &.pull-left {
        margin-right: 5rem;
      }
      &.pull-right {
        margin-left: 5rem;
      }
      p {
        line-height: 1.5;
      }
    }
    .product__cta {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: bold;
      h2,
      a {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
        &:after {
          content: "";
          display: inline-block;
          width: 1.5rem;
          height: 100%;
          margin-left: 0.5rem;
          height: 1.2rem;
          background: url("~@/assets/images/cta_arrow@2x.png") no-repeat
            center/100%;
        }
      }
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
    p {
      line-height: 2;
      margin-bottom: 1.2rem;
    }
  }
}
